<ul class='nav'>
        <ul class='nav1'>
            <li class='nav-bar'><a class="active" id='home' href='/auth/dashboard'>Auto Mart</a></li>
        <li class='nav-bar'><a id='contact' href='contact'>Contact Us</a></li>
        <li class='nav-bar'><a id='about' href='about'>About Us</a></li>
        </ul>
        <ul class='nav2'> 
          {{#if user}}  
            <li class='nav-bar'><a id='register-link'href='/auth/post'><i class="material-icons">
drive_eta
</i> &nbsp; SELL</a></li> 
                     
            <div class='nav-bar' id='view_profile'><a id='login-link' style='cursor:pointer;color:antiquewhite'><i class="material-icons">
perm_identity
</i> &nbsp; View Profile</a></div>  
 <li class='nav-bar'><a id='register-link' href='/auth/logout'>Logout</a></li>       
  {{/if}}             
        </ul>
    </ul>

    <h1 id='car-detail-header'>Car Details</h1>

  <!-- <span style=' padding:6px;
    margin-right:100px;
    float:right;
    border: 2px solid #333;
    border-radius:5px;
    cursor:pointer;' id='buy-now-detail'>Buy now</span>
      <span style=' padding:6px;
  margin-right:15px; 
    float:right;
    border: 2px solid #333;
    border-radius:5px;
    cursor:pointer;' id='buy-now-detail'>Add to Cart</span>-->



{{#data}}
<div class='car-detail-inner'>
<div class='detail-content'><strong>Transaction ID: &nbsp; </strong>{{this._id}}</div> 
<img id='car-img' src="{{this.image_url}}" alt='image missing'/> 
        <div class='detail-content'><strong>Manufacturer: &nbsp;</strong> {{this.manufacturer}}</div>
        <div class='detail-content'><strong>Price: &nbsp; </strong> {{this.price}}</div>
        <div class='detail-content'><strong>Status: &nbsp; </strong>{{this.status}}</div>
        <div class='detail-content'><strong>State: &nbsp; </strong> {{this.state}}</div>  
       <div class='detail-content'><strong>Year: &nbsp; </strong> {{this.year}}</div>
        <div class='detail-content'><strong>Transmission: &nbsp; </strong> {{this.transmission}}</div>
         <div class='detail-content'><strong>Registered: &nbsp; </strong> {{this.registered}}</div>
        <div class='detail-content'><strong>License: &nbsp; </strong> {{this.license}}</div>
        <div class='detail-content'><strong>Description: &nbsp; </strong> {{this.description}}</div>
        <div class='detail-content'><strong>Model: &nbsp; </strong> {{this.model}}</div>
    </div>    
        
{{/data}}
    <footer class='footer1'>
			<div id='powered'>
				<p tabIndex ='0'>Powered by Olaitan Auto Mart</p>
				<p id='copyrights'>Copyright &copy; 2019. All rights reserved.</p>
			</div>
    </footer>
  